// Colores principales
$primary-color: #7a17de;
$secondary-color: #FFC107;
$hover-color: #1c3fa8;
$text-color: #333;
$background-color: #f4f4f4;
$button-border-color: #000000;
$footer-background-color: #7a53dc;
$social-icons-color: #421ad1;
$service-icon-color: #007bff;
$founder-text-color: #9a94f7;
$highlight-color: #4d33e0;
$lile: #ad1aa3;

// Colores para fondos y bordes
$modal-background-color: #ffffff;
$card-background-color: #ffffff;
$box-shadow-color: rgba(0, 0, 0, 0.1);
