@media screen and (max-width: 768px) {
  .banner-container {
    flex-direction: column;
    padding: 20px;
  }

  .banner-text {
    align-items: center;
    text-align: center;
  }

  .banner-title {
    font-size: 20px;
  }

  .slogan {
    font-size: 10px;
  }

  .content-container {
    width: 90%;
  }

  .cuate-image, .banner-img {
    max-width: 100%;
  }

  .section-title {
    font-size: 35px;
  }
  .lyra-description {
    font-size: 16px;
  }

  .founders-container {
    flex-direction: column;
  }

  .founder {
    flex-direction: column;
  }

  .founder-image {
    max-width: 100%;
  }

  .founder-info {
    margin-top: 20px;
  }

  .section-container {
    flex-direction: column;
    max-width: 90%;
  }

  .services {
    flex-direction: column;
  }

  .service {
    margin: 20px 0;
  }
}
