<footer>
  <div class="footer-container">
    <div class="social-icons">
      <a href="https://www.instagram.com/lyra.labs?igsh=MWo2bDAzZmV5c2h3dw=="><i class="fab fa-instagram"></i></a>
    </div>
    <div>
      <p class='text-dark'>&copy; 2024 LyraLab</p>
    </div>
  </div>
</footer>
