<footer>
  <div class="container">
    <div class="row">
      <div class="col">
        <p class='text-light'>&copy; 2024 LyraLab Todos los Derechos Reservados.</p>
      </div>
        <div class="col">
          <div class="social-icons">
            <a href="https://www.instagram.com/lyra.labs?igsh=MWo2bDAzZmV5c2h3dw=="><i class="fab fa-instagram"></i></a>
          </div>
      </div>
    </div>
  </div>
</footer>
