<div class="section-content">
  <div data-controller="scroll">
    <div data-scroll-target="section" class="section-container" id="about">
      <%= image_tag 'girlstudying.png', alt: 'Girl Studying', class: 'cuate-image' %>
      <section>
        <h2 class="section-title"><strong>Un enfoque tecnológico y artístico: LyraLab</strong></h2>
        <p class="lyra-description">En Lyralab, nos dedicamos a promover la educación en <strong>Ciencia, Tecnología, Ingeniería, Artes y Matemáticas (STEAM)</strong> mediante el desarrollo de recursos originales y herramientas prácticas para los jóvenes. Nuestra visión es ofrecer un espacio dinámico de aprendizaje a través de talleres, webinars, cursos, entre otras herramientas interactivas.</p>
      </section>
    </div>

    <div data-scroll-target="section" class="section-container" id="about">
      <%= image_tag 'computer.png', alt: 'Computer', class: 'cuate-image' %>
      <section>
        <h2 class="section-title"><strong>Un futuro <span>#STEAM</span></strong></h2>
        <p class="lyra-description">Creemos que una sólida educación en cualquier campo STEAM es clave para enfrentar los desafíos del futuro e incentivar habilidades como el <strong>pensamiento crítico y la creatividad</strong>. A medida que avanzamos, estamos trabajando para construir una plataforma que brinde apoyo y oportunidades a los jóvenes interesados en estas áreas.</p>
      </section>
    </div>

    <div data-scroll-target="section" class="section-container" id="about">
      <%= image_tag 'womensteam.png', alt: 'Woman', class: 'cuate-image' %>
      <section>
        <h2 class="section-title"><strong>Educación con perspectiva de género</strong></h2>
        <p class="lyra-description">Sabemos que la educación debe ser <strong>inclusiva y equitativa</strong>, por lo cual, estamos comprometidas a garantizar que todos los jóvenes, sin importar su género, tengan acceso a oportunidades educativas en un entorno justo y respetuoso. Fomentamos la igualdad, promovemos oportunidades para todos e inspiramos un desarrollo pleno sin barreras de género.</p>
      </section>
    </div>
  </div>
</div>
