<div data-controller="scroll">
  <div data-scroll-target="section" class="section-container" id="contact">
    <section>
      <h2 class="section-title"><%= t('lyralab.contact.title') %></h2>
      <p class="section-text"><%= t('lyralab.contact.description') %></p>
      <%= render 'contacts/contact_form' %>
    </section>
    <%= image_tag 'contact.png', alt: 'lyralab', class: 'contact-img' %>
  </div>
<div>
