<div data-controller="scroll">
  <div data-scroll-target="section" class="section-container" id="contact">
    <section>
      <h2 class="section-title">Contáctanos!</h2>
    </section>
    <%= render 'contacts/contact_form' %>
  </div>
<div>
