<div data-controller="scroll">
  <div data-scroll-target="section" class="section-container" id="contac">
    <section>
      <h2 class="section-title">Forma parte del equipo!</h2>
      <p class="lyra-description"></p>
    </section>
  </div>
<div>
