<div class="founders-container">
  <h2>¡Conoce a las fundadoras!</h2>
  <div class="founder">
    <%= image_tag 'valentina.png', alt: 'Valentina', class: 'founder-image' %>
    <section class="founder-info">
      <div class="lyra-founder">Valentina León</div>
      <div class="description">
        <p>Como Co-Founder, he sido parte integral de la conceptualización y el desarrollo inicial del proyecto, trabajando para definir nuestra visión, misión y estrategias clave, con el objetivo de dar un empujoncito a aquellos jóvenes que, como nosotras, adoran construir cosas y aprender sobre el mundo que los rodea.</p>
      </div>
    </section>
  </div>

  <div class="founder">
    <%= image_tag 'cinthya.png', alt: 'Cinthya', class: 'founder-image' %>
    <section class="founder-info">
      <div class="lyra-founder">Cinthya Juárez</div>
      <div class="description">
        <p>Como Co-Fundadora de LyraLab, he aportado ideas innovadoras y he sido clave en la planificación de las herramientas que ofrecemos. Mi objetivo es inspirar a los jóvenes a explorar y desarrollarse en el mundo STEAM, ayudándoles a construir un futuro prometedor.</p>
      </div>
    </section>
  </div>
</div>
