<div class="founders-container">
  <div class="founder">
    <%= image_tag 'valentina.jpeg', alt: 'Valentina', class: 'founder-image' %>
    <section class="founder-info">
      <div class="lyra-founder">Valentina León - Co-Fundadora</div>
      <div class="description">
        <p>Encargada del desarrollo de la página, la estrategia y la planificación de herramientas para el proyecto.
        Adora construir cosas y aprender nuevas habilidades. La creatividad es su filosofía de vida.
        </p>
      </div>
    </section>
  </div>

  <div class="founder">
    <%= image_tag 'cinthya.jpeg', alt: 'Cinthya', class: 'founder-image' %>
    <section class="founder-info">
      <div class="lyra-founder">Cinthya Juárez - Co-Fundadora</div>
      <div class="description">
        <p>Responsable de las redes sociales y la promoción del proyecto para aumentar su visibilidad y alcance.
        Disfruta de la investigación y el marketing.
        </p>
      </div>
    </section>
  </div>
  <div id='planet'>
    <%= image_tag 'planet.png', alt: 'planet', class: 'planet-img' %>
  </div>
</div>
