<div class="recommendation-banner">
  <div class="mt-5" data-controller="scroll">
    <div data-scroll-target="section" class="section-container" id="resources">
      <section>
        <h2 class="recommendation-title">Cursos Recomendados</h2>
      </section>
    </div>

    <div class="position-card-container">
        <div class="position-card">
          <h3 class="position-card-title">Google Project Management Course</h3>
          <p class="position-card-description">Accede a recursos recomendados en tu área de interés.</p>
          <a href="https://www.coursera.org/professional-certificates/google-project-management?" class="btn-recommendation" target="_blank">Ver Más</a>
        </div>

        <div class="position-card">
          <h3 class="position-card-title">Introduction to Generative AI with Google Cloud</h3>
          <p class="position-card-description">introductory level microlearning course aimed at explaining what Generative AI is, how it is used, and how it differs from traditional machine learning methods.</p>
          <a href="https://www.udacity.com/course/introduction-generative-ai-google-cloud--cd12957" class="btn-recommendation" target="_blank">Ver Más</a>
        </div>

        <div class="position-card">
          <h3 class="position-card-title">Historia del Arte: Del Barroco al Arte Posmoderno</h3>
          <p class="position-card-description">Engage in a community of young learners to create</p>
          <a href="https://www.coursera.org/learn/historia-arte-barroco-posmoderno" class="btn-recommendation" target="_blank">Ver Más</a>
        </div>

        <div class="position-card">
          <h3 class="position-card-title">Matemáticas fundamentales para Ciencias de la Computación</h3>
          <p class="position-card-description">Definiciones y pruebas, Conjuntos y funciones, Relaciones, Estructuras discretas, Teoría de Grafos...</p>
          <a href="https://www.udemy.com/course/fundamental-concepts-of-mathematics-for-computer-science/?amp=&aff_code=Ewh3Y1lWQH8FQR93MkBPbG1RGXFfW1h8B14ZeU5TQ3YBRxFzWj5XMRM%3D&pmtag=CAREERS24LEARN15&utm_source=adwords&utm_medium=udemyads&utm_campaign=Search_DSA_GammaCatchall_NonP_la.EN_cc.ROW-English&campaigntype=Search&portfolio=ROW-English&language=EN&product=Course&test=&audience=DSA&topic=&priority=Gamma&utm_content=deal4584&utm_term=_._ag_169801645584_._ad_700876640599_._kw__._de_c_._dm__._pl__._ti_dsa-1456167871416_._li_9073882_._pd__._&matchtype=&gad_source=1&gclid=Cj0KCQjw05i4BhDiARIsAB_2wfBVGShlKzvmYuOE5qJYx11CY1ugAZ0_1j7vNGQ0QRK4dl3ie31_70IaAp7AEALw_wcB" class="btn-recommendation" target="_blank">Ver Más</a>
        </div>
    </div>
  <div>
</div>
