<div class="mt-5" data-controller="scroll">
  <div data-scroll-target="section" class="section-container" id="resources">
    <section>
      <h2 class="section-title">Nuestra propuesta de valor</h2>
      <p class="lyra-description">Encontrarás recursos prácticos que te ayudarán a potencializar tu carrera.</p>
    </section>
  </div>

  <div class="position-card-container">
      <div class="position-card">
        <h3 class="position-card-title">Librería Curada</h3>
        <p class="position-card-description">Accede a recursos recomendados en tu área de interés.</p>
        <div class="position-card-img">
          <%= image_tag('light.png', class: 'card-icon-img') %>
        </div>
      </div>

      <div class="position-card">
        <h3 class="position-card-title">Lorem Ipsum Lorem Lorem</h3>
        <p class="position-card-description">Hello everyone we love tech and science</p>
        <div class="position-card-img">
          <%= image_tag('settings.png', class: 'card-icon-img') %>
        </div>
      </div>

      <div class="position-card">
        <h3 class="position-card-title">So many things to learn over here</h3>
        <p class="position-card-description">Engage in a community of young learners to create</p>
        <div class="position-card-img">
          <%= image_tag('tack.png', class: 'card-icon-img') %>
        </div>
      </div>
   </div>
<div>
