<div class="section-container" id="resources">
  <div class="resources-header">
    <h2>Blog y Recursos</h2>
    <p class="lyra-description">Artículos, tutoriales y recursos sobre las últimas tendencias en el mundo STEAM. </p>
  </div>

  <div class="resource-card">
  </div>

  <div class="resource-card">
  </div>

  <div class="resource-card">
  </div>
<div>
