.banner-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 50px;

  .banner-title {
    font-family: "Playfair Display", serif;
    font-size: 60px;
    margin-bottom: 10px;
    font-style: italic;
  }

  .banner-title span {
    text-decoration: underline;
    text-decoration-color: $primary-color;
  }

  .slogan {
    font-size: 30px;
    font-family: "Quicksand", sans-serif;
    margin-bottom: 20px;
    font-weight: bold;
  }

  .banner-img {
    width: 50%;
    height: 50%;
    margin-left: 0;
  }
}

.recommendation-banner {
  background-color: #756dea;
  max-width: 100%;
  padding: 0 20px; /* Un poco de espacio a los lados */
  box-sizing: border-box; /* Asegura que padding no expanda el banner */
  margin-bottom: 20px;

  .recommendation-title {
    font-family: "League Spartan", sans-serif;
    font-size: 40px;
    letter-spacing: -0.5px;
    font-weight: bold;
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
  }
}
