.start-button {
  font-family: 'DM Sans', sans-serif;
  letter-spacing: -1px;
  background: linear-gradient(0deg, $secondary-color 0%, #f4bc15 100%);
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
  &:hover {
    transform: scale(1.05);
  }
}


.resources-button {
  font-family: 'DM Sans', sans-serif;
  letter-spacing: -1px;
  background: linear-gradient(
    0deg,
    $highlight-color 0%,
    #5c41f2 100%
  );
  color: white !important;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 20px;
  // border: 1px solid $button-border-color;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  text-decoration: none;

  &:hover {
    color: white;
    transform: scale(1.05) !important;
  }
}

.card-btn {
  margin-top: auto;
  font-family: 'DM Sans', sans-serif;
  letter-spacing: -1px;
  background: linear-gradient(
    0deg,
    $highlight-color 0%,
    #2d2fba 100%
  );
  color: white;
  font-size: 17px;
  padding: 10px 20px;
  border-radius: 15px;
  text-decoration: none;
  width: 100%;
  text-align: center;
  display: block; // Para que el botón ocupe todo el ancho del contenedor

  &:hover {
    background: #3638cd;
    color: white;
  }
}

.btn-recommendation {
  font-family: 'DM Sans', sans-serif;
  letter-spacing: -1px;
  background: none;
  color: #756dea;
  font-size: 17px;
  border: 1px solid #756dea;
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
  text-decoration: none;
  width: 100%;
  margin-top: auto;
  text-align: center;

  &:hover {
    background: #756dea;
    color: white;
    transition: background-color 0.3s ease;
  }
}
