.cards-scroll-wrapper {
  overflow-x: auto; /* Permite el desplazamiento horizontal */
  padding-bottom: 10px; /* Espacio para evitar que se corte la sombra */
  max-width: 100%;
}

.results-grid {
  // max-width: 100%;
  display: flex;
  // grid-template-columns: repeat(5, minmax(160px, 1fr));
  gap: 25px;

  .resource-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 auto; /* Se adapta al tamaño de la columna */
    width: 250px;
    height: 200px;
    margin-top: 25px;
    border-radius: 12px;
    // transition: box-shadow 0.2s ease-in-out;
    transition: all 0.5s;
    // backdrop-filter: blur(0.5px);
    // background: rgba(217, 217, 217, 0.58);
    background: linear-gradient(145deg, rgba(240, 240, 240, 0.85), rgba(217, 217, 217, 0.58));
    border: 1px solid white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);

    &:hover {
      border: 1px solid black;
      transform: translateY(-5px) scale(1.03);
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    }

    .resource-img {
      width: 100%;
      height: 15vw;
      object-fit: cover;
      // ajustar la imagen a la card
      border-radius: 17px 17px 0 0;
      overflow: hidden;
    }

    .card-body {
      font-family: 'DM Sans', sans-serif;
      letter-spacing: -0.3px;
      padding: 15px;
      text-align: left;
      margin-top: 11px;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      justify-content: space-between;

      h6 {
        color: #444;
        font-weight: bold;
        margin-bottom: 8px;
      }
    }
  }
}

.cards-scroll-wrapper::-webkit-scrollbar {
  display: none;
}

.cards-scroll-wrapper {
  -ms-overflow-style: none;  /* IE y Edge */
  scrollbar-width: none;  /* Firefox */
}

.area-section {
  padding: 15px 0 0 15px;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5; /* Fondo neutral para resaltar el título y las tarjetas */
  margin-top: 30px;

  .area-title {
    font-family: "Playfair Display", serif;
    font-size: 40px;
    letter-spacing: -0.5px;
    margin: 10px;
  }

}

.ciencia {
  background-color: #e0f7fa; /* Light blue */
  color: #00796b;
}

.tecnologia {
  background-color: #ffecb3; /* Light yellow */
  color: #f57c00;
}

.ingenieria {
  background-color: #d1c4e9; /* Light purple */
  color: #673ab7;
}

.matematicas {
  background-color: #c8e6c9; /* Light green */
  color: #388e3c;
}

.arte {
  background-color: #ffccbc; /* Coral suave */
  color: #d84315;
}

.position-card-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto; /* Hacer que el scroll sea horizontal */
  scroll-snap-type: x mandatory; /* Hacer que el scroll enganche en cada tarjeta */
  scroll-behavior: smooth; /* Animación suave al desplazarse */
  gap: 15px; /* Espacio entre las tarjetas */
  padding: 10px 0;

  .position-card {
    max-width: 300px;
    scroll-snap-align: center; /* Hacer que el scroll enganche en cada tarjeta */
    display: flex;
    flex-shrink: 0;
    flex-direction: column; // Flexbox coloca los elementos en una columna
    justify-content: space-between;
    height: 300px;
    background-color: rgb(236, 240, 237);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 17px;
    padding: 20px;

    .position-card-title {
      font-family: 'League Spartan', sans-serif;
      font-size: 20px;
      font-weight: bold;
      margin-top: 20px;
    }

    .position-card-description {
      font-family: 'DM Sans', sans-serif;
      font-size: 15px;
      margin-top: 10px;
      text-justify: justify;
    }
  }

  .position-card-img {
    z-index: 1;
    position: relative;

    .card-icon-img {
      width: 100px;
      height: 100px;
      position: absolute;
      top: 50px;
      left: 150px;
    }
  }
}

// media queries
@media (max-width: 768px) {
  .results-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    .resource-card {
      max-width: 200px;
      height: 300px;
    }

    .card-body {
      font-size: 14px;
    }

    .resource-img {
      height: 200px;
    }
  }

  .position-card-container {
    gap: 10px;
    padding: 10px 0;
  }

  .position-card {
    max-width: 200px;
    height: 250px;
    padding: 10px;
  }

  .position-card-img {
    .card-icon-img {
      width: 50px;
      height: 50px;
      top: 25px;
      left: 75px;
    }
  }
}
