.results-grid {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  grid-gap: 25px;
  align-items: stretch;

  .resource-card {
    // padding: 1rem;
    width: 100%; /* Se adapta al tamaño de la columna */
    max-width: 250px;
    height: 350px;
    margin-top: 25px;
    border-radius: 17px;
    // transition: box-shadow 0.2s ease-in-out;
    transition: all 0.5s;
    backdrop-filter: blur(1px);
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    overflow: hidden;

    &:hover {
      border: 1px solid black;
      transform: scale(1.05);
    }

    .resource-img {
      width: 100%;
      height: 15vw;
      object-fit: cover;
      // ajustar la imagen a la card
      border-radius: 17px 17px 0 0;
      overflow: hidden;
    }

    .card-body {
      font-family: 'DM Sans', sans-serif;
      letter-spacing: -0.5px;
      padding: 0 15px 15px;
      text-align: left;
      margin-top: 11px;
    }

    .btn-recurso {
      font-family: 'DM Sans', sans-serif;
      letter-spacing: -1px;
      background: linear-gradient(
        0deg,
        $highlight-color 0%,
        #5c41f2 100%
      );
      color: white;
      font-size: 13px;
      font-weight: bold;
      padding: 10px 20px;
      // border: 1px solid $button-border-color;
      border: none;
      border-radius: 15px;
      cursor: pointer;
      transition: background-color 0.3s ease, transform 0.3s ease;
      text-decoration: none;
      width: 100%;

      &:hover {
        color: white;
        transform: scale(1.05);
      }
    }
  }
}

.position-card-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto; /* Hacer que el scroll sea horizontal */
  scroll-snap-type: x mandatory; /* Hacer que el scroll enganche en cada tarjeta */
  scroll-behavior: smooth; /* Animación suave al desplazarse */
  gap: 15px; /* Espacio entre las tarjetas */
  padding: 10px 0;

  .position-card {
    max-width: 300px;
    scroll-snap-align: center; /* Hacer que el scroll enganche en cada tarjeta */
    display: flex;
    flex-shrink: 0;
    flex-direction: column; // Flexbox coloca los elementos en una columna
    justify-content: space-between;
    height: 300px;
    background-color: rgb(236, 240, 237);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 17px;
    padding: 20px;

    .position-card-title {
      font-family: 'League Spartan', sans-serif;
      font-size: 20px;
      font-weight: bold;
      margin-top: 20px;
    }

    .position-card-description {
      font-family: 'DM Sans', sans-serif;
      font-size: 15px;
      margin-top: 10px;
      text-justify: justify;
    }
  }

  .position-card-img {
    z-index: 1;
    position: relative;

    .card-icon-img {
      width: 100px;
      height: 100px;
      position: absolute;
      top: 50px;
      left: 150px;
    }
  }
}

// media queries
@media (max-width: 768px) {
  .results-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .position-card-container {
    gap: 10px;
    padding: 10px 0;
  }
}
