.footer-container {
  width: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .text-dark {
    color: #000;
    font-family: 'DM Sans', sans-serif;
    font-size: 1rem;
  }
}

footer {
  background-color: #f1f0f0; /* Adjust this to match your footer color */
  padding: 10px;
  text-align: center;
  position: relative !important; /* Se mantiene relativo al flujo del documento */
  bottom: 0;
}

.col {
  margin: 0;
}

.social-icons {
  display: flex;  /* Arrange icons in a row */
  .social-icons a {
    color: #5c41f2 ;
    font-size: 20px;
    margin: 0 10px;
  }
}
