.footer-container {
  width: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: #e6e2e2; /* Adjust this to match your footer color */
  padding: 10px;
  text-align: center;
  position: relative !important; /* Se mantiene relativo al flujo del documento */
  bottom: 0;
}

.col {
  margin: 0;
}

.social-icons {
  display: flex;  /* Arrange icons in a row */
}

.social-icons a {
  color: #e6e2e2;
  font-size: 20px;
  margin: 0 10px;
}
