.resources-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;

  .r-header {
    display: flex;
    flex-direction: column;
    margin: 0 50px;
    position: relative;

    .resources-title {
      font-family: "Playfair Display", serif;
      letter-spacing: -0.5px;
      font-size: 50px;
      margin-top: 20px;
      margin-bottom: 10px;
      color: rgb(0, 0, 0);
      font-weight: 200;
    }

    .resources-description {
      font-family: "League Spartan", sans-serif;
      font-size: 20px;
      color: rgb(0, 0, 0);

      #span {
        text-decoration: underline;
        text-decoration-color: #ffd500;
      }
    }
  }

  .resources-img {
    width: 450px;
    height: auto;
  }
}


.resources-container {
  display: flex;
  flex-direction: column;
  margin: 28px;
  margin-top: 0 !important;
  padding: 20px 0;

  .steam-area {
    color: rgb(14, 13, 13), 8, 8;
    font-size: 16px;
    font-weight: 500;
    font-family: "League Spartan", sans-serif;
  }

  .filter-form {
    display: flex;
    width: 100%;

    .filter-input {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin: 0 20px 0 0;
    }

    .filter-button {
      padding: 10px 20px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}

.resource-group {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .resources-header {
    flex-direction: column;
    align-items: center;

    .r-header {
      margin: 0;
      text-align: center;
    }

    .resources-img {
      margin-top: 20px;
    }
  }

  .resources-container {
    margin: 10px;
    padding: 0;
  }
}
