.resources-header {
  background: #2d2fba 0% 0% no-repeat padding-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 20px 0;
  padding: 30px 0;

  .resources-title {
    font-family: "Playfair Display", serif;
    letter-spacing: -0.5px;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: white;
  }

  .resources-description {
    font-family: "League Spartan", sans-serif;
    font-size: 16px;
    color: white;
  }
}

.resources-container {
  display: flex;
  flex-direction: column;
  margin: 28px;
  padding: 20px 0;

  .steam-area {
    color: rgb(14, 13, 13), 8, 8;
    font-size: 16px;
    font-weight: 500;
    font-family: "League Spartan", sans-serif;
  }

  .filter-form {
    display: flex;
    width: 100%;

    .filter-input {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin: 0 20px 0 0;
    }

    .filter-button {
      padding: 10px 20px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}

.resource-group {
  margin-top: 20px;
}
