.resources-container {
  margin: 30px;
  width: 100%;
  display: grid;

  .resources-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-items: flex-start;
    margin: 0 0 20px 0;

    .resources-title {
      font-family: "DM Sans", sans-serif;
      font-weight: bold;
      letter-spacing: -1px;
      font-size: 30px;
      margin-bottom: 10px;
    }

    .resources-description {
      font-family: "DM Sans", sans-serif;
      font-size: 16px;
    }

    .filter-form {
      display: flex;
      width: 100%;

      .filter-input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin: 0 20px 0 0;
      }

      .filter-button {
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }
}
