.section-container {
  color: #212121;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.6s ease, transform 0.6s ease;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  padding: 35px;
}

.section-container.visible {
  opacity: 1;
  transform: translateY(0);
}

.lyra-founder {
  font-size: 22px;
  font-family: "League Spartan", sans-serif;
  letter-spacing: -1px;
  font-weight: bolder;
  color: $founder-text-color;
  margin: 10px 0;
}

.description {
  font-family:  "Quicksand", sans-serif;
  font-size: 17px;
  margin: 10px 0;
  color: white;
  text-align: justify;
}

.lyra-description {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  margin: 20px 0;
  font-weight: 10px;
}

.section-title {
  font-family: "Playfair Display", serif;
  font-size: 40px;
  margin-bottom: 20px;
}

.section-title span {
  color: $primary-color;
  font-size: 50px;
}

.founders-container {
  display: flex;
  justify-content: space-around;
  position: relative;
  margin-top: 0;
  padding: 25px;
  background-color: #131225;
}

#planet {
  position: absolute;
  margin: 0 10px;

  img {
    z-index: 1;
    width: 350px;
    height: 200px;
    top: 190px;
    left: 200px;
    position: absolute;
    rotate: -7deg;
  }
}

.founder {
  display: flex;
  flex-direction: column;
  color: white;
  width: 500px;
  justify-content:flex-start;
}

.section-content {
  display: flex;
  background-color: rgb(252, 250, 246);
  padding: 25px;
}

.founder-image {
  width: 100px;
  height: 100px;
  border-radius: 9%;
  margin-bottom: 10px;
}

.sdg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 35px;
  margin-top: 10px;

  .sdgs {
    display: flex;
    justify-content: center;
    margin-top: 0;

    // .sdg-img {
    //   width: 100px;
    //   height: 100px;
    //   margin: 0 10px;
    // }

    .sdg {
      margin: 0 10px;
      margin-top: -10px;
    }

    img {
      width: 150px;
      height: 150px;
    }
  }
}

.sdg-title-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}


// media queries
@media (max-width: 768px) {
  .section-container {
    flex-direction: column;
    padding: 20px;
  }

  .section-title {
    font-size: 30px;
  }

  .lyra-founder {
    font-size: 20px;
  }

  .description {
    font-size: 15px;
  }

  .founders-container {
    flex-direction: column;
    padding: 20px;
  }

  #planet {
    display: none;
  }

  .founder {
    width: 100%;
    align-items: center;
  }

  .founder-image {
    width: 70px;
    height: 70px;
  }

  .sdg-container {
    padding: 20px;
    box-sizing: border-box;
  }

  .sdg-title-img {
    margin-top: 20px;
    #sdg-img {
      width: 400px;
      height: 90px;
    }
  }

  .sdgs {
    flex-direction: column;
  }



  .sdg {
    margin: 0;
  }

  .section-content {
    padding: 20px;
  }
}

#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px;
  margin: 30px;

  .section-text {
    font-family: "League Spartan", sans-serif;
    font-size: 20px;
    margin: 20px 0;
    font-weight: 10px;
  }

  #form {
    margin-left: 0;
  }

  a {
    color: $primary-color;
    text-decoration: none;
    font-size: large;
  }

  .contact-img {
    width: 400px;
    height: auto;
    margin-left: 20px;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    padding: 20px;

    .contact-img {
      width: 300px;
      height: auto;
      margin-left: 0;
    }
  }
}
