<div class="results-grid">
  <% resources.each do |recurso| %>
    <div class="resource-card">
      <div class="card-body">
        <h6><%= recurso.titulo %></h6>
        <p><%= recurso.category.name %></p>
        <a href="<%= recurso.url %>" class="card-btn" target="_blank">Ver Más</a>
      </div>
    </div>
  <% end %>
  <% if resources.empty? %>
    <p>No se encontraron recursos</p>
  <% end %>
</div>
