<div class="resources-container">
  <div class="resources-title">
    <h1>Recursos STEAM</h1>
  </div>
  <div class="filter">
    <div class="filter-form">
      <%= form_with url: recursos_path, method: :get, local: true do |f| %>
        <%= f.collection_select :category_id, Category.all, :id, :name, prompt: "Filtrar por categoría" %>
        <%= f.submit "Filtrar", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

  <% unless @recursos.empty? %>
    <%= render 'recursos' %>
  <% else %>
    <div class="filter-results mt-5">
      <p class="text-muted">No Results Found :(</p>
    </div>
  <% end %>
</div>
